#dateRangeSelectors {
  display: inline-block;
  position: relative;
}

#dateSelectors * {
  outline: none;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.fc-datepicker-container {
  background-color: white;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1), -3px -0px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-bottom: 60px;
  position: absolute;
  transition: all .2s ease;
  transform: scaleY(0);
  transform-origin: left top;
  opacity: 0;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1), -3px -0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1), -3px -0px 8px 0px rgba(0, 0, 0, 0.1);
}

.show-datepicker {
  transform: scaleY(1);
  opacity: 1;
}

.hide-datepicker {
  transform: scaleY(0);
  opacity: 0;
}

.fc-datepicker {
  background-color: #f7f7f7;
  height: 300px;
  width: 350px;
}

.fc-datepicker-button {
  bottom: 5px;
  position: absolute;
  right: 0;
  width: 110px;
}

.fc-datepicker-button button {
  background-color: rgb(33, 150, 243) !important;
}

.end-datepicker {
  margin-left: 5px;
}

.fc-datepicker table {
  margin: 0;
  table-layout: fixed;
  width: 350px;
}

.fc-datepicker table thead tr td {
  padding-bottom: 10px;
}

caption {
  padding: 0!important;
}

.header-wrapper {
  background-color: rgb(33, 150, 243);
  color: white;
  float: left;
  font-size: 1.2em;
  height: 40px;
  text-align: center;
  width: 50%;
}

.header-year,
.header-month {
  line-height: 40px;
}

.fc-datepicker table tbody tr td {
  color: #626262;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.fc-datepicker table tbody tr td.day-head {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ECECEC;
  cursor: default;
  font-weight: 600;
}

.fc-datepicker table tbody tr td.day-head:hover {
  background-color: #f7f7f7;
  color: #626262;
}

.selected {
  background: rgb(33, 150, 243) !important;
  color: white !important;
}

button.md-icon-button.arraw-btn {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  width: 40px;
}

button.md-icon-button.day-button {
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  width: 30px;
}

button.md-icon-button.day-button:hover {
  background-color: rgb(33, 150, 243) !important;
  border-radius: 20px;
  color: #f7f7f7!important;
}

.current-month {
  color: rgb(33, 150, 243) !important;
}

.disabled {
  background: #ECECEC!important;
  color: #a3a3a3!important;
}

.disabled:hover {
  background: #ECECEC!important;
}

.noselect {
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
